{{ define "main" }}
<main class="page-main pa4" role="main">
  <section class="page-content mw6 center">
    <h1 class="f-headline fw1 mb2 tc">404</h1>
    <h2 class="f4 mb6 ttu tc">Sea turtles are going extinct. This page already went extinct, like dodos.</h2>
    <img src="https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL25vdy1NcHAyQU9pRi1Eb2RvYmlyZGNyb3BwZWRqcGctMTIxMC02ODAuanBnIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjoiMTIwMCJ9fX0=" alt="Dodo looking at a ship.">
  </section>
</main>
{{ end }}
